<center>
    <h1 style="color: #A43E4C">Categorie Articles </h1>
    <table border="2" id="tab" >
        <th bgcolor="#AC1414"  style="color: #FFFFFF" >Id Article</th>
        <th bgcolor="#AC1414" style="color: #FFFFFF" >nom</th>
        <th bgcolor="#AC1414" style="color: #FFFFFF" colspan="2" >Action</th>
        {% for Categarticle in CategoryArticles %}
            <tr >

                <td style="color: #800000" >{{ Categarticle.id }}</h5></td>
                <td style="color: #800000">{{ Categarticle.nom }}</td>
                <td><a href="{{ path('entity_CategArticle_modifier',{'id':Categarticle.id}) }}">Modifier </a></td>
                <td><a href="{{ path('entity_CategArticle_supprimer',{'id':Categarticle.id}) }}" >Supprimer </a></td>
        {% endfor %}
    </table>
    <br><h3><a href="{{ path('entity_CategArticle_ajouter') }}" >ajouter Article</a></h3>
    <h3><a href="{{ path('entity_CategArticle_rechercher') }}" >rechercher Article</a></h3>
</center>
